package newsitem

templ NewsItem(title, date, imageUrl, description string) {
  <div class="news-card animate-on-scroll">
    <div class="news-img" style={ "background-image: url('" + imageUrl + "');" }>
      <div class="news-date">{ date }</div>
    </div>
    <div class="news-content">
      <h4 class="news-title">{ title }</h4>
      <p>{ description }</p>
      <a href="#" class="btn btn-sm btn-outline-danger">Прочети още</a>
    </div>
  </div>
}
