package aboutus

import (
"github.com/GeorgiChalakov01/ntg/backend/app/pages/base"
"github.com/GeorgiChalakov01/ntg/backend/app/pages/aboutus/hero"
)

templ homeComponents() {
@hero.hero()
}

templ AboutUs() {
@base.Base("НТГ - Национална Търговска Гимназия", homeComponents(), styles(), scripts())
}